#category-container {
  &.mapadding {
    pointer-events: none;
    opacity:.25;
  }
}

#map_categories .inside {
  margin: 0;
  padding:0;
}

#category-list {
  > li {
    .regular {
      border:1px solid black;
    }
  }
}
