#main_map_box {
  > * {
    display:none;
  }
  > .inside {
    display: block;
    margin: 0;
    padding: 0;
  }
}
#theMap {
  position: relative;
  width: 100%;
  height: 200px;
  background:#ccc;
}
